
@{
    ViewBag.Title = "ShowPrcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowPrcess</h2>


<script type="text/javascript">
    function callback(){
        alert('asdadosad');
    }
    $('h2').innerHeight = 100;
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetStatus","Home")',
            dataType: 'json',
            success: callback
        });
    });
    

</script>